body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #000000, #302d33);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 700px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    color: #333;
}

.form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.form input {
    flex: 1;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
}

.form input:focus {
    border-color: #094bc5;
    box-shadow: 0 0 10px rgba(118,75,162,0.4);
}

button {
    background: rgba(106, 11, 201, 0.4);
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #5b3690;
    transform: scale(1.05);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

table th {
    background: #764ba2;
    color: white;
}

.delete-btn {
    background: darkred;
}

.delete-btn:hover {
    background: darkred;
}
